body {
    overflow-x: hidden;
}

.ir-bg {
    /* background-image: url('img/01.jpg'); */
    background-image: url('../img/01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 840px;
}